@import './reset.css';

/* global classes */

body {
  background-color: #ffcc00;
  font-family: 'VT323', monospace;
}

.game-framing {
  border-radius: 15px;
  font-family: 'VT323', monospace;
  border-left: 20px solid silver;
  border-right: 20px solid silver;
  border-top: 30px solid silver;
  border-bottom: 35px solid silver;
  background-color: silver;
}

.border {
  border: 15px solid black;
  border-bottom: 30px solid black;
  border-radius: 8px;
}

/* styling main-hero */

.over-frame {
  border-radius: 16px;
  border: 1px solid #737373;
  box-shadow: 1px 1px #808080, 2px 2px #808080, 3px 3px #808080, 4px 4px #808080, 5px 5px #808080, 5px 5px #737373, 6px 6px #737373, 7px 7px #737373, 8px 8px #595959;
}

.connector {
  width: 547px;
  height: 33px;
  border-radius: 9px;
  background-color: silver;
  border: 0.5px solid #737373;
  box-shadow: 1px 1px #808080, 2px 2px #737373;
  display: flex;

}

.lower-part {
  width: 549px;
  height: 441px;
  background-color: silver;
  margin-top: 1px;
  margin-bottom: 10px;
  border: 0.5px solid #737373;
  border-radius: 12px;
  box-shadow: 1px 1px #808080, 2px 2px #808080, 3px 3px #808080, 4px 4px #808080, 5px 5px #808080, 5px 5px #737373, 6px 6px #737373, 7px 7px #737373, 8px 8px #595959;

}

.top-button {
  width: 548px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brightness-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #262626;
  border: 2px solid #404040;
}

.row-1 {
  width: 100%;
  height: 200px;
  display: flex;
}

.row-2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.col-1-2-a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #b3b3b3;
  border: 4px solid #666666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-buttons {
  border-radius: 5px;
  background-color: #262626;
  width: 135px;
  height: 48px;
  position: relative;
  border: 1px solid #1a1a1a;
  box-shadow: 3px 3px #1a1a1a, 4px 4px #000000;
}

.arrow-buttons::after {
  content: "";
  top: -48px;
  right: 45px;
  border-radius: 5px 5px 0 0;
  background-color: #262626;
  width: 48px;
  height: 48px;
  position: absolute;
  box-shadow: 3px 0px #1a1a1a, 4px 0 #000000;
}

.arrow-buttons::before {
  content: "";
  top: 46px;
  right: 45px;
  border-radius: 0 0 5px 5px;
  background-color: #262626;
  width: 48px;
  height: 48px;
  position: absolute;
  box-shadow: 2px 2px #1a1a1a, 3px 3px #000000;
}

.a-b-buttons {
  width: 170px;
  height: 73px;
  background-color: #b3b3b3;
  border: 4px solid #666666;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 40px;
  transform-origin: 0 100%;
  transform: rotate(-15deg);
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.a-button {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  width: 57px;
  height: 57px;
  border: 2px solid #800000;
  border-radius: 50%;
  color: #b30000;
  background-color: #b30000;
  text-shadow: -2px 0 #800000, 0 2px #800000, 2px 0 #800000, 0 -2px #800000;
  box-shadow:  2px 2px #800000;
}

.small-buttons {
  margin-top: 35px;
  width: 130px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.border-small-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #262626;
  border: 2px solid #404040;
}

.main-hero {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* styling main-page */

.main-page-title {
  font-weight: 900;
  font-size: 45px;
  color: #ffcc00;
  text-shadow: -1px 0 #a6a6a6, 0 1px #a6a6a6, 1px 0 #a6a6a6, 0 -1px #a6a6a6;
}

.main-screen-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 479px;
  height: 331px;
  background-image: url("../src/imgs/main-page-start-screen.png");
  background-size: cover;
  font-family: 'VT323', monospace;
}

/* styling pick pokemon */

.row1-2aa {
  display: flex;
  background-color: #999999;
}

.col1-2b {
  border: 3px solid #3d3d5c;
}

.inner-row-1 {
  display: flex;
  flex-direction: row;
}

.inner-row-2 {
  border-bottom: 3px solid #3d3d5c;
}

.inner-row-3 {
  background: repeating-linear-gradient(
                  0deg,
                  #33ffbb,
                  #33ffbb 1px,
                  #f2f2f2 1px,
                  #f2f2f2 2px
  );
  height: 95px;
  display: flex;
  flex-direction: row;
}

.pokemon-list {
  background-color: #3d3d5c;
  border-top: 3px solid #3d3d5c;
  border-bottom: 3px solid #3d3d5c;
  border-left: 3px solid #3d3d5c;
}

.pokemon {
  width: 132px;
  height: 132px;
  background-color: #e6f2ff;
  background-image: linear-gradient(45deg, #b3d9ff 25%, transparent 25%, transparent 75%, #b3d9ff 75%, #b3d9ff),
  linear-gradient(45deg, #b3d9ff 25%, transparent 25%, transparent 75%, #b3d9ff 75%, #b3d9ff);
  background-size:15px 15px;
  background-position:0 0, 7.5px 7.5px;
  border: 2px solid #999999;
  border-radius: 2px 2px 0 0 ;
}

.pokemon-name {
  background-color: #e6e6e6;
  color: white;
  text-shadow: 1px 1px grey;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0 0 2px 2px;
  margin-top: -3px;
}

.pokemon-in-list {
  //background-color: #7575a3;
  border: 3px solid #7575a3;
  border-radius: 5px;
}

.pokemon-img {
  border: 1.2px solid #aa80ff;
  border-radius: 3px;
  background: repeating-linear-gradient(
                  0deg,
                  #f2f2f2,
                  #f2f2f2 4px,
                  white 4px,
                  white 8px
  );
  width: 160px;
  height: 140px;
  margin: 3px 3px 3px 3px;
}

.pokemon-list {
  height: 312px;
  overflow-y: scroll;
}

.pokemon-img-and-name {
  background-color:  #ccb3ff;
  border-right: 3px solid #3d3d5c;
  border-bottom: 3px solid #3d3d5c;
  height: 170px;
}

.pokemon-img-and-name h2 {
  letter-spacing: 1px;
  text-shadow: 1px 1px gray;
  margin-top: 2px;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

.pokemon-stat-list-box {
  border-bottom: 3px solid #3d3d5c;
  background: repeating-linear-gradient(
                  0deg,
                  #ffdb4d,
                  #ffdb4d 1px,
                  #ffeb99 1px,
                  #ffeb99 2px
  );
  width: 163px;
  height: 170px;
}

.pokemon-stat-list {
  margin-top: 3px;
  font-size: 17.5px;
}

.pokemon-stat-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.hp-stat-name {
  text-shadow: -1px 0 #a6a6a6, 0 1px #a6a6a6, 1px 0 #a6a6a6, 0 -1px #a6a6a6;
  border-radius: 5px;
  width: 50px;
  margin-bottom: 9px;
  margin-left: 9px;
  position: relative;
  z-index: 1;
}

.hp-stat-name:after {
  content: "";
  background-color: #a6a6a6;
  position: absolute;
  z-index: -1;
  left: -6.8px;
  top: 5.35px;
  width: 57px;
  height: 9px;
  border-radius: 7px;
}

.stat-name {
  text-shadow: -1px 0 #a6a6a6, 0 1px #a6a6a6, 1px 0 #a6a6a6, 0 -1px #a6a6a6;
  border-radius: 5px;
  width: 50px;
  margin-bottom: 2px;
  margin-left: 6px;
  z-index: 1;
  position: relative;
}

.stat-name:after {
  content: "";
  background-color: #a6a6a6;
  position: absolute;
  z-index: -1;
  left: -3.8px;
  top: 5.35px;
  width: 57px;
  height: 9px;
  border-radius: 7px;
}

.hp-stat-number {
  text-align: right;
  color: #4d4d4d;
  text-shadow: 0.5px 0.5px lightgrey;
  width: 115px;
  background: #fffae6;
  float: right;
  margin-top: 1px;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-right: 2px;
  position: relative;
}

.hp-life-bar {
  position: absolute;
  background-color: #4d4d4d;
  border-radius: 3px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 15px;
  left: 6px;
}

.hp-hp-title {
  margin-left: 2px;
  font-size: 7px;
  font-weight: 900;
  color: #ff9900;
  text-shadow: none;
}

.hp-green-bar {
  margin-left: 0.5px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0.5px solid white;
  border-radius: 2px;
  width: 85px;
  height: 7px;
  background-color: #1aff1a;
}

.stat-number {
  text-align: right;
  color: #4d4d4d;
  text-shadow: 0.5px 0.5px lightgrey;
  width: 50px;
  background: #fffae6;
  float: right;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.pokemon-type-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-type-list li {
  box-shadow: 1px 1px #595959;
  border-radius: 2px;
  text-align: center;
  width: 55px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px #4d4d4d;
  margin-left: 3px;
}

.type-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: -1px 0 #a6a6a6, 0 1px #a6a6a6, 1px 0 #a6a6a6, 0 -1px #a6a6a6;
  border-radius: 5px;
  width: 50px;
  margin-bottom: 2px;
  margin-left: 58px;
  z-index: 1;
  position: relative;
}

.type-title:after {
  content: "";
  background-color: #a6a6a6;
  position: absolute;
  z-index: -1;
  left: -3.5px;
  top: 4.3px;
  width: 57px;
  height: 9px;
  border-radius: 7px;
}

.pokemon-description {
  font-size: 15px;
  height: 37px;
  width: 332px;
  border: 2px solid #7575a3;
  border-radius: 3px;
  background-color: white;
  overflow-y: scroll
}

.attack-list-1-2 li {
  width: 150px;
  height: 30px;
  margin-top: 12px;
  margin-left: 12px;
  line-height: 30px;
  vertical-align: middle;
  border-radius: 3px;
  background-color: white;
  text-transform: uppercase;
  color: #4d4d4d;
  text-shadow: 0.5px 0.5px lightgrey;
  position: relative;
}

.attack-name {
  font-size: 15px;
  width: 93px;
  margin-left: 54px;

}

.attack-nature {
  position: absolute;
  top: -2px;
  left: -5px;
  background-color: #999999;
  height: 16px;
  width: 55px;
  color: white;
  text-shadow: 1px 1px #4d4d4d;
  box-shadow: 1px 1px #595959;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.button-border {
  background-color: white;
  border-left: 3px solid #3d3d5c;
  border-right: 3px solid #3d3d5c;
  border-bottom: 3px solid #3d3d5c;
  display: flex;
  justify-content: center;
}

.button-changing-container {
  font-weight: 800;
  color: #4d4d4d;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px lightgrey;
  font-family: 'VT323', monospace;
}

//---------------------------------/
/* styling main battle */
//---------------------------------/

.row-1-2 {
  width: 479px;
}

.background {
  background-image: url("../src/imgs/battle-background3.png");
  background-size: cover;
  height: 250px;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.col-1-2 {
  width: 50%;
}

.inner-row-1-2 {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-row-1-2b {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.inner-row-1-2a {
  height: 65%;
  display: flex;
  justify-content: center;
}

.inner-row-1-2c {
  height: 50%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.random-pokemon-img {
  object-fit: none;
  width: 140px;
  align-self: flex-end;
}

.player-pokemon-img {
  margin-bottom: 5px;
  align-self: flex-end;
}

.pokemon-data-border {
  border: 3px solid #737373;
  border-radius: 11px 7px 11px 7px;
}

.pokemon-data {
  width: 150px;
  height: 52px;
  background-color: whitesmoke;
  border: 1.5px solid #404040;
  border-radius: 8px 4px 8px 4px;
  display: flex;
  flex-direction: column;
}

.pokemon-name-in-data {
  text-shadow: 0.5px 0.5px lightgrey;
  color: #404040;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 6px;
}

.life-bar-overbar {
  width: 117px;
  border: 1px solid #595959;
  border-radius: 4px;
  background-color: #595959;
  margin-right: 2px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  position: relative;
}

.life-bar-overbar:before {
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  color: #ffb31a;
  font-weight: 900;
  font-size: 11px;
  content: "hp";
  position: absolute;
  left: 2.5px;
  top: -2.6px;
}

.life-bar-inner-line {
  width: 102px;
  border-radius: 3px;
  border: 1px solid white;
  display: flex;
}

.stamina-points {
  text-shadow: 0.5px 0.5px lightgrey;
  color: #404040;
  width: 53px;
  align-self: flex-end;
}

.display-window {
  height: 81px;
  background-color: #3d3d5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attacks-menu {
  width: 476px;
  display: flex;
  flex-direction: row;
}

.attack-info {
  margin-left: 1px;
  height: 75px;
  width: 35%;
  border: 4px solid #7575a3;
  border-radius: 3px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attack-type {
  height: 22px;
  width: 68px;
  color: white;
  text-shadow: 1px 1px #4d4d4d;
  box-shadow: 1px 1px #595959;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.attack-power {
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 0.5px 0.5px lightgrey;
  color: #404040;
}

.battle-commentary-border {
  width: 465px;
  height: 75px;
  border: 5px solid #cca300;
  border-radius: 7px;
}

.battle-commentary-inner-border {
  border: 3px solid whitesmoke;
  border-radius: 2px;
  background-color: #2d5986;
  height: 65px;
}

.list-of-attack-buttons {
  height: 75px;
  width: 65%;
  border: 4px solid #7575a3;
  border-radius: 3px;
  text-transform: uppercase;
  text-shadow: 1px 1px lightgrey;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.attack-button {
  line-height: 28px;
  vertical-align: middle;
  margin-left: 25px;
  height: 28px;
  width: 115px;
  font-size: 20px;
  color: #404040;
  font-family: 'VT323', monospace;
}

.battle-commentary {
  padding-left: 3px;
  font-weight: 100;
  text-shadow: 1px 1px #666666;
  font-size: 23px;
  color: white;
}

.commentary-size {
  width: 170px;
}

//---------------------------------/
/* styling end-screen */
//---------------------------------/

.winner-info {
  width: 479px;
  height: 331px;
  background: -webkit-linear-gradient(90deg, rgba(61,61,92,1) 0%, rgba(61,61,92,1) 18%, rgba(0,128,128,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-screen-text {
  text-transform: uppercase;
  font-size: 24px;
  text-shadow: 1px 1px #808080;
  color: whitesmoke;

}

.end-screen-button {
  margin-top: 20px;
  color: #ffcc00;
  text-shadow: 1px 1px #997a00;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'VT323', monospace;

}

//---------------------------------/
/* animations for attacks */
//---------------------------------/

@keyframes slide-in-player {
  0% {
    visibility: hidden;
    transform: translate(-170px, 0);
  }
  50%{
    visibility: hidden;
  }
  100% {
    visibility: visible;
    transform: translate(0, 0);
  }
}

@keyframes slide-in-random {
  0% {
    visibility: hidden;
    transform: translate(170px, 0);
  }
  50%{
    visibility: hidden;
  }
  100% {
    visibility: visible;
    transform: translate(0, 0);
  }
}

@keyframes scratch-player-send {
  50% {
    transform-origin: 100% 100%;
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scratch-random-receive {
  50% {
    transform-origin: 100% 100%;
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scratch-player-receive {
  50% {
    transform-origin: 0 100%;
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scratch-random-send {
  50% {
    transform-origin: 100% 100%;
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes stat-modifying {
  25%{
    transform-origin: 50% 100%;
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes dead {
  0% {
    visibility: visible;
  }
  20% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    visibility: hidden;
    transform: translate(0, 100px);
  }
}

